<div class="small-1 large-1 columns">

	<ul class="side-nav" id="menu">
			<dl class="sub-nav">
			<li>
				<dd class="active"><a href="#">All</a></dd>
			</li>
			<li>
				<dd><%= link_to('icon1',home_help_path) %></a></dd>
			</li>
			<li>
				<dd><a href="#">icon2</a></dd>
			</li>
			<li>
				<dd><a href="#">icon3</a></dd>
			</li>
		</dl>
	</ul>
</div>