<div class="row">
		<div class="small-12 columns">
			<h1>New map </h1>
			<h1><small class="show-for-large-only">Création d'un nouvel itinéraire</small></h1>
		</div>
	</div>

	
	<div class="row">
		<div class="medium-12 large-8 columns">
			



<%= render 'form' %>
<div class="row">
		<div class="small-12 columns">
			<h2 class="header">Blabla</h2>
		</div>
	</div>


<%= link_to 'Back', maps_path %>
