<div class="row">
		<div class="small-12 columns">
			<h1>New map </h1>
			<h1><small class="show-for-large-only">Création d'un nouvel itinéraire</small></h1>
		</div>
	</div>

	
	<div class="row">
		<div class="medium-12 large-8 columns">
			<h3>Date de départ</h3>
			<p>The calendar is setup through unobtrusive javascript.  All you have to do is add a parameter to the input field, and voila, you have a date/time picker:</p>



<%= render 'form' %>
<div class="row">
		<div class="small-12 columns">
			<h2 class="header">Blabla</h2>
		</div>
	</div>


<%= link_to 'Back', maps_path %>
