<div class="small-12 large-12 columns" style="margin-top:20px;">

		<%= form_for @prospect do |f| %>

		<div class="row panel radius collapse panel-bg" id="form_prospect">

			<div class="small-8 columns">
				<%= f.email_field :email, placeholder: "exemple@mail.com"%>
			</div>

			<div class="small-4 columns">
				<%= f.submit "GET EARLY ACCESS", class:"button postfix radius", style:"background-color:#D95C00" %>
			</div>

			<% end %>

		</div>
	</div>
