<!-- <div class="small-12 large-12 columns" style="margin-top:20px;">

		<%# form_for @prospect do |f| %>

		<div class="row panel radius collapse panel-bg" id="form_prospect">

			<div class="small-8 columns">
				<%# f.email_field :email, placeholder: "exemple@mail.com"%>
			</div>

			<div class="small-4 columns">
				<%# f.submit "GET EARLY ACCESS", class:"button postfix radius", style:"background-color:#D95C00" %>
			</div>

			<%# end %>

		</div>
	</div> -->


<div class="small-12 large-12 columns" style="margin-top:20px;">
<form action="http://copilot.us8.list-manage2.com/subscribe/post?u=ab384934351d856a458215399&amp;id=6efaa8c0e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="row panel radius collapse panel-bg" id="form_prospect">
	<div class="small-8 columns">
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	</div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ab384934351d856a458215399_6efaa8c0e0" tabindex="-1" value=""></div>

	<div class="small-4 columns">
		<div class="button postfix radius"><input type="submit" value="GET EARLY ACCESS" name="GET EARLY ACCESS" id="mc-embedded-subscribe" class="button postfix radius"></div>
	</div>
</div>
</form>
</div>
