<div class="row">
	<div class="small-7 large-7 columns">
		<H1>Why Copilot ?</H1>
		<p>Copilot est né du besoin de voyageurs expérimentés et de futurs voyageurs de simplifier la préparation et favoriser le bon déroulement de leur voyage. Discret (et dévoué !), Copilot vous accompagne avant et pendant votre voyage, où que vous soyez pour que vous partiez serein et profitiez au mieux de votre séjour.</p>


		<p>Les informations éparpillées dans les guides, les blogs, les sites ne sont pas toujours actualisées et bien souvent difficiles à synthétiser. Copilot met à disposition les données nécessaires à l'organisation d'un voyage. Par ville ou par pays, Copilot vous renseigne sur les climats, dépenses quotidiennes, religions, devises, zones sensibles, modes de transport locaux, vaccins, visas, etc... Selon vos destinations et vos critères il génère un itinéraire que vous pourrez affiner.</p>


		<p>Chaque voyage est une expérience formidable qui n'est cependant pas sans aléas. Perdre ses papiers ou son argent, avoir besoin d'un conseil santé, identifier et se comporter face à une situation dangeureuse, éviter les périodes de danger climatique, ou d'instabilité politique... Copilot est là pour vous.</p>


		<p>En voyage il n'est pas toujours facile d'avoir son smartphone ou encore de trouver une bonne connection, c'est pourquoi Copilot est disponible on-line ou off-line sur ordinateur et sur mobile. Vous synchroniserez vos données à votre prochain accès à Internet.</p>


		<p>Copilot. A votre service.</p>


	</div>



			<div class="small-5 large-5 columns">
				<div class="panel radius panel-landing-middle">
					<H1>What's Copilot ?</H1>
					<p>Copilot est un <span style="font-weight: bold;">assistant de voyage collaboratif</span> et <span style="font-weight: bold;">gratuit</span>.</p>

					<p><span style="font-weight: bold;">Avant votre départ</span> il vous aide  à :
					<ul>
					<li>définir vos itinéraires en évitant les mauvaises saisons (affluence touristique, climats rigoureux, ...)</li>
					<li>définir précisément votre budget</li>
					<li>lister les démarches à effectuer (vaccins, visas, check-list bagage)</li>
					<li>sauvegarder vos documents administratifs et de voyages</li>
					</ul>
					</p>

					<p>
					<span style="font-weight: bold;">Durant votre séjour</span> Copilot vous permet de :
					<ul>
					<li>tenir votre budget pour prolonger votre séjour</li>
					<li>replanifier votre itinéraire et votre budget si vous vous plaisez à un endroit</li>
					</ul>
					</p>

					<p>
					<span style="font-weight: bold;">Après votre retour</span> :
					<ul>
					<li>partagez votre expérience avec d'autres (futurs) voyageurs</li>
					</ul>
					</p>
				</div>
			</div>
</div>


<div class="row">
			<div class="small-12 large-12 columns" style="text-align: center"><H1>Quelques-unes des nombreuses caractéristiques de Copilot</H1></div>
</div>

<div class="row">
	<div class="small-7 large-7 columns">
	<ul>
		<li>Application web et mobile</li>
		<li>Définition d'itinéraires selon les climats</li>
		<li>Plannification et suivi budgétaire</li>
		<li>Check-list bagage, santé, administratif</li>
		<li>Trip tips - Conseils de voyageurs</li>
		<li>Guide par où commencer ?</li>
		<li>Coffre-fort pour sécuriser vos documents de voyage</li>
		<li>Système d'alerte situation dangeureuse (climatique, attentat, ...)</li>
		<li>Calcul d'empreinte environnementale</li>
		<li>Vues carte, pays, ville</li>
		<li>Intégration des cartes sur votre blog</li>
		<li>Contacter d'autres voyageurs aux parcours similaires</li>
	</ul>
	</div>
		<div class="small-5 large-5 columns">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>


			<%= render "form_landing"%>
		</div>

</div>
