<ul class="side-nav " id="lateral-bar">
	<dl>
		<li class="active">
			<dd><%= link_to(edit_user_registration_path) do %><i class="fi-widget"></i><% end %></dd>
		</li>
		<li>
			<dd><%= link_to(home_help_path) do %><i class="fi-foundation"></i><% end %></dd>
		</li>
		<li>
			<dd><%= link_to(home_help_path) do %><i class="fi-compass"></i><% end %></i></dd>
		</li>
		<li>
			<dd><%= link_to '<i class="fi-euro"></i>'.html_safe, (home_help_path) %>
			</dd>
		</li>
	</dl>
</ul>

