<div class="global-nav" >

	<ul class="side-nav " id="lateral-bar">
			<dl>
			<li class="active">
				<dd ><%= link_to('A',home_index_path) %></dd>
			</li>
			<li>
				<dd><%= link_to('icon1',home_help_path) %></dd>
			</li>
			<li>
				<dd><a href="#">icon2</a></dd>
			</li>
			<li>
				<dd><a href="#">icon3</a></dd>
			</li>
		</dl>
	</ul>
</div>

