<div class="row" id="landing_bg">
		<ul data-orbit data-options= "animation_speed:1000;  timer_speed: 2000;">
			<li>
				<%= image_tag('oceanie.jpg') %>
			</li>
			<li>
				<%= image_tag('gansu.jpg') %>
			</li>
			<li>
				<%= image_tag('grandcanyon.jpg') %>
			</li>
		</ul>

	</div>