<tr>
<td><span class="handle">[drag]</span><%= @stage.address %></td>
<td><%= @stage.duration %></td>
<td><%= button_to '-', travel_stages_path, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>