<tbody id="stage">
    <% @stages.each do |stage| %>
      <tr>
        <%= content_tag_for :td, stage do %>
            <span class="handle">[drag]</span>
            <%= link_to h(stage.address), travel_routes_path(@travel) %>
        <% end %>
          <td>
            <%= stage.duration %>
          </td>
            <td><%= button_to '-', travel_route_stage_path(@travel, @route, stage), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
      </tr>
     <% end %>
</tbody>

