
  
    <div id="map" style='position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;'></div>
  <%= render 'map_script' %>
 
<div class="row">

 <div class="large-12 large-offset-10 columns">
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
        </section>
      </nav>
      <!-- Off Canvas Menu -->
      
      <aside class="right-off-canvas-menu">
        <label>NOM_VOYAGE/NOM_ROUTE</label>
          <h5>Departure date</h5>
            <p>DEPARTURE DATE</p>
        <table class="off-canvas-list">
          <thead>
            <tr>
              <th>Stage</th>
              <th>Duration</th>
            </tr>
          </thead>
            <%= render '/stages/stages' %>
        </table>
      </aside>

     <%= link_to "new stage", new_stage_path, id: "add", method: :get, remote: true %>
    </div>

  <a class="exit-off-canvas"></a>

   </div>
</div>
</div>


<div class="row">
  <div class="large-10 large-offset-8 columns">
  <div class="off-canvas-wrap ">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Foundation</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        ...
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        ...
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
</div>

</div>
