
// stages = "<%= render 'stages' %>"
// new_stage = "<%= render 'new_stage_form' %>"	
// liste des stages existants
// formulaire pour ajouter un stage

// javascript pour insérer le formulaire + la liste des stages existants
// <script>

// $('#add').click(function () {
//     var stage = $(this).closest('stage');
//     if (stage.find('input:text').length < 7) {
//         stage.append(<%= render 'new_stage_form' %>);
//     }
// });

// $('#del').click(function () {
//     var stage = $(this).closest('stage');
//     if (stage.find('input:text').length > 1) {
//         stage.find('input:text').last().closest('tr').remove();
//     }
// });


// </script>

// $("#add").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
// $("#add")[0].reset();