@import "foundation_and_overrides";
@import 'foundation-icons';


/*Colorscheme
bleu :#40668D; sombre : #1F3245
orange :#D95C00; sombre : #8C3B00
vert:#BEB837; sombre : #8F8A29
creme:#FFF6D2;sombre : #D6CFB0
marron:#C19D56; sombre : #876E3C;
*/


/* Add imports of custom sass/scss files here */

html{
    height: 100%;
}

body {
/*  margin: 10px ;
*/  height: 100%;
margin-left: 70px;
margin-top: 45px;
}

.panel {
  background-color: white;
}

/* FOOTER */
.footer {
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    position: fixed;
}

.panel-landing-footer {
  border: #1F3245;
  background: #1F3245;
  color: #b2bac2;
  height: auto;
  margin-bottom: 0px;
  text-align: center;
}

.button {
    background-color:#D95C00;
    font-family: 'Homenaje', sans-serif;


   &:hover{
   	background:white;
      color: #D95C00;
   }
  }

.inline {
    padding: 0.75rem 0;
}

.row {
    margin-left: 0px;
}

/* Mise en forme message alert */

ul.hmenu {
  list-style: none;
  text-align: right;
}

ul.hmenu li {
  display: inline;
}

/*Side Menu*/

#lateral-bar {
    background-color: #1F3245;
    margin-top:4em;
    width: 70px;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 500;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.side-nav li  {
    background-color: #1F3245;
    font-size: 40px;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.25;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
     -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.side-nav a {
    height: 50px;
    width: 50px;
}
.side-nav li a:not(.button) {
    color: #40668D;
}

.side-nav li a:not(.button):hover {
    color: #FFF;
    background: #40668D;
}

.side-nav li.active a:not(.button):hover {
    color: #FFF;
    background: #1F3245;
}

        /*emplacement logo*/
.side-nav li.active {
    height: auto;
    width: auto;
    border-radius: 0%;
}

        /* tooltip */
.tooltip.tip-right {
    background: #40668D;
    color: white;
    margin-left: -15px;
}

.tooltip.tip-right > .nub {
    border-color: transparent #40668D transparent transparent;
    left: -10px;
}

.tooltip {
    background: #40668D;
    color: white;
    margin-top: -20px;
    border-radius: 5px;
}

/* Top bar */

.top-bar {
  .title-area {
    margin-left: -0.5em;
  }
}
        /*Boutton inscription*/


        .top-bar-section li.sign_up_button:not(.has-form) a:not(.button) {
        background: white;
        color: #D95C00;
        }

        .top-bar-section li.sign_up_button:not(.has-form) a:not(.button):hover {
        background: white;
        color: #1F3245;
        }



.top-bar {
    background: #D95C00;
    margin-left: 0px;
    height: 4em;
}
.top-bar-section {
    background: #D95C00;
    margin-left: 500px;
    height: 4em;
}

.picto {
    font-size: 17px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: white;
    color: #D95C00;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    color: white;
    background: #D95C00;
}

.top-bar-section li.down:not(.has-form) a:not(.button) {
    color: #D95C00;
    background: white;
}

.top-bar-section li.down:not(.has-form) a:not(.button):hover {
    color: white;
    background: #D95C00;
}


.top_bar_user_name {
    background: #D95C00;
    color: white;
    vertical-align: text-bottom;
}

.top-bar-section ul {
    background: #D95C00;
}
.top-bar-section ul li {
    font-size: 14px;
}

/*classe active*/


.top-bar-section li.active:not(.has-form) a:not(.button) {
    /*padding: 0 15px;
    *//*line-height: 45px;
    */color: #b2bac2;
    background: #edeff0;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    /*padding: 0 15px;
    line-height: 45px;*/
    color: #edeff0;
    background: #b2bac2;
}


        /*dropdown*/
.top-bar-section li a:not(.button):hover {
    background: #edeff0;
    color: #5a6772;
}

.f-dropdown, .f-dropdown li {
    text-align: left;
    width: 200px;
    color: #D95C00;
}

.hover1 {
    background: #edeff0;
}

.picto {
    font-size: 25px;
}

/*Headers Landing*/

#panel_top {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

#panel_bottom {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zNCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.34) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.34))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#57000000',GradientType=0 ); /* IE6-8 */
}

// #panel_baseline {
//     height: 730px; //attention PAS responsive
//     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
//     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
//     background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
//     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
//     background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
//     background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 12+ */
//     background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
//     background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
// }


.baseline_1 {
    font-family: 'Homenaje', sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 0px;
    margin-bottom: 40px;
    line-height: 1em;
}


.baseline_2 {
    font-family: 'Homenaje', sans-serif;
    color: white;
    font-size: 40pt;
    text-align: center;
    margin-top: 1em;
    margin-right: 20px;
}

#logo {
    font-family: 'Weston Free';
    color: #D95C00;
    font-size: 40pt;
    font-weight: bold;
}


#logo-footer {
    font-family: 'Weston Free';
    color:#D95C00;
}

/* LOGO ALKIMIA.CO */
#alkimya {
    font-family: 'Raleway', sans-serif;
    color: white;
}
#alkimyaco {
    font-family: 'Raleway', sans-serif;
    color:#E5C20B;
}



/*Landing */

#featured_orbit {
  	background-repeat: no-repeat;
      background-size: cover;
     z-index: -1;
     position: fixed;
     width: 100%;
     background-position: center center;
 }

 .small-phone {
   background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
      position: absolute;
     max-height: 100%;
      background-position: center center;
     background-image: url(/oceanie_1small1.jpg)
  }


.panel-landing-middle {
border-color: #8F8A29;
background: #BEB837;
}




h1.landing{
    color: white;
    text-align: center;
}


h1.main{
    font-family: 'Homenaje', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

h1 {
    font-family: 'Homenaje', sans-serif;
    color: #40668D;
}

h1 {
    font-family: 'Homenaje', sans-serif;
}

h3.landing{
    font-family: 'Homenaje', sans-serif;
    font-weight: bold;
}

h4.landing{
    color: white;
    font-size: 22px;
}


h5.landing{
    font-family: 'Homenaje', sans-serif;
    font-weight: bold;
}


/* Disponible si Orbit ne fonctionne plus*/
#landing_bg {
	background-image: asset-url("oceanie.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    height: 100%;
}





 /*Landing Prospect form */

#form_prospect div *:last-child {
    margin-bottom: 0;

}

.panel-bg {
    height: auto;
    border-style: none;
    border-size: 0px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.43) 99%, rgba(0,0,0,0.43) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.35)), color-stop(99%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0.43))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.43) 99%,rgba(0,0,0,0.43) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.43) 99%,rgba(0,0,0,0.43) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.43) 99%,rgba(0,0,0,0.43) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.43) 99%,rgba(0,0,0,0.43) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#6e000000',GradientType=1 ); /* IE6-9 */
    }

.picto-landing {
    font-size: 60px;
}

/*Map*/

#map img {
  max-width: none;

}
#map label {
  display:inline;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mini_maps {
    width: 300px;
    height: 150px;
/*    z-index: -1;
*/    margin: 1em;
}


.handle {
    font-size: 12px;
    color :#777;
    cursor: move;
}

/* Route_table */
table tr th, table tr td {
    font-size: 12px;
}

.handle {
font-size: 7px;
}
