<!-- <div class="panel panel-landing-footer footer">
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 no-bullet main">
			<li>
				<ul class="inline-list">
					<li>© 2014 Copilot.
					</li>
					<li>All Right Reserved
					</li>
					<li>Privacy Policy
					</li>
					<li>Terms of Use
					</li>
					<li>About
					</li>
					<li>Contact
					</li>
				</ul>
			</li>
			<li>
				<div style="text-align: center;">Brought to you by <a href="http://www.alkimya.co" target="_blank"><span id="alkimya">Alkimya</span><span id="alkimyaco">.co</span></a></div>
			</li>
		</ul>
</div> -->
<div class="panel panel-landing-footer footer">
	<ul class="inline-list">
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 no-bullet" style="margin-right:70px">
			<li> Privacy Policy</li>
			<li> Terms of Use</li>
			<li> About</li>
			<li> Contact</li>
			<li>© 2014 Copilot.All Right Reserved</li>
			<li>Brought to you by <a href="http://www.alkimya.co" target="_blank"><span id="alkimya">Alkimya</span><span id="alkimyaco">.co</span></a></li>
	</ul>
</div>
